*{
    margin: 0;
    padding: 0;
}
body {
    background-image:url("images/greenbackground.png");
    background-repeat: no-repeat;
  }

/* Navbar*/

.navbar{
    width: 100px;
    display: flex;
    padding: 20px 20px 20px 20px;
    font-family: Montserrat;
}

.logo{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
}

.menu{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

ul{
    list-style: none;
}

li{
    display: inline;
}